<div class="flex justify-content-center">

  <div class="col-10 ml mt-2">
    <div class="text-xl font-medium text-900 mb-3 align-items-center flex">
      <i class="pi pi-megaphone
      mr-2" style="font-size: 1.4rem; color: #22C55E;"></i>
      <span>Activity History</span>
    </div>

    <div class="surface-card p-3 shadow-2 border-round m-0">

      <p-tabView styleClass="tabview-custom" class="p-0 mt-3" [formGroup]="scheduleForm">
        <p-tabPanel>
          <ng-template pTemplate="header">
            <i class="pi pi-wallet mr-2"></i>
            <span>Income</span>
          </ng-template>
          <p-toolbar styleClass="mb-3  gap-2 block py-0">
            <div class="grid grid-nogutter py-4">
              <div class="col-12  lg:col-3 md:col-3 mr-3">
                <label class="block" for="icon" style="font-size: 1rem; font-weight: 600;">Date start</label>
                <p-calendar (onSelect)="onChangeScheduleDateStart()" formControlName="dateStartUTC" styleClass="w-full"
                  [showIcon]="true" inputId="icon"></p-calendar>
              </div>
              <div class="col-12 mt-3 lg:mt-0 md:mt-0 lg:col-3 md:col-3">
                <label class=" block" for="icon" style="font-size: 1rem; font-weight: 600;">Date end</label>
                <p-calendar (onSelect)="onChangeScheduleDateEnd()" formControlName="dateEndUTC" styleClass="w-full"
                  [showIcon]="true" inputId="icon"></p-calendar>
              </div>
              <a href="http://localhost:1214/user-activity/report/activity-incomes?dateStart={{scheduleForm.value.dateStart}}&dateEnd={{scheduleForm.value.dateEnd}}"
                class="col justify-content-end align-items-end lg:flex md:flex mt-3">
                <button pButton pRipple label="Export history" icon="pi pi-upload"
                  class="p-button-help w-full lg:w-5 md:w-5 "></button>
              </a>
            </div>
          </p-toolbar>

          <p-table [value]="memberIncomeList" [tableStyle]="{'min-width': '60rem'}" [lazy]="true">
            <ng-template pTemplate="caption">
              <div class="flex align-items-center justify-content-between">
                Activity Income
                <p-button icon="pi pi-refresh"></p-button>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>No.</th>
                <th>Type</th>
                <th>Title</th>
                <th>Income</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-item let-i="rowIndex">
              <tr>
                <td>{{i+1}}</td>
                <td>{{item.activityType}}</td>
                <td>{{item.title}}</td>
                <td>{{item.totalIncome | currency: 'Rp ' :'symbol':'1.2-2'}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              <div class="flex align-items-center justify-content-between">
              </div>
            </ng-template>
          </p-table>
        </p-tabPanel>
        <p-tabPanel header="Header II">
          <ng-template pTemplate="header">
            <i class="pi pi-users mr-2"></i>
            <span>Participants</span>
          </ng-template>
          <p-toolbar styleClass="mb-3 gap-2 block py-0">
            <div class="grid grid-nogutter py-4">
              <div class="col-12  lg:col-3 md:col-3 mr-3">
                <label class="block" for="icon" style="font-size: 1rem; font-weight: 600;">Date start</label>
                <p-calendar (onSelect)="onChangeScheduleDateStart()" formControlName="dateStartUTC" styleClass="w-full"
                  [showIcon]="true" inputId="icon"></p-calendar>
              </div>
              <div class="col-12 mt-3 lg:mt-0 md:mt-0 lg:col-3 md:col-3">
                <label class=" block" for="icon" style="font-size: 1rem; font-weight: 600;">Date end</label>
                <p-calendar (onSelect)="onChangeScheduleDateEnd()" formControlName="dateEndUTC" styleClass="w-full"
                  [showIcon]="true" inputId="icon"></p-calendar>
              </div>
              <a href="http://localhost:1214/user-activity/report/activity-participants?dateStart={{scheduleForm.value.dateStart}}&dateEnd={{scheduleForm.value.dateEnd}}"
                class="col justify-content-end align-items-end lg:flex md:flex mt-3">
                <button pButton pRipple label="Export history" icon="pi pi-upload"
                  class="p-button-help w-full lg:w-5 md:w-5 " [loading]="loading[0]" (onClick)="load()"></button>
              </a>
            </div>
          </p-toolbar>

          <p-table [value]="memberParticipantsList" [tableStyle]="{'min-width': '60rem'}" [lazy]="true">
            <ng-template pTemplate="caption">
              <div class="flex align-items-center justify-content-between">
                Activity Participants
                <p-button icon="pi pi-refresh"></p-button>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>No.</th>
                <th>Type</th>
                <th>Title</th>
                <th>Start Date</th>
                <th>Participants</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-item let-i="rowIndex">
              <tr>
                <td style="justify-content: center;">{{i+1}}.</td>
                <td>{{item.activityTypeName}}</td>
                <td>{{item.title}}</td>
                <td>{{item.dateStart}}</td>
                <td>{{item.totalParticipant}}</td>

              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              <div class="flex align-items-center justify-content-between">
              </div>
            </ng-template>
          </p-table>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>

</div>