<div class="flex justify-content-center align-items-center h-screen w-screen font-bold">
  <div class="col-7">
    <div class="surface-card grid py-6 shadow-2 border-round">
      <div class="lg:col-12 sm:col-12 py-6 px-6">
        <div class="grid justify-content-center flex mb-4">
          <h1>404 NOT FOUND</h1>
        </div>
        <div class="col-12 justify-content-center flex">
          <p class="text-700 text-lg text-center">
            This link cannot be found, please try to visit another link or
            
            <span class="cursor-pointer" routerLink="/home" style="color: #137C3B; font-weight: 700;"> Go Back to Home
              Page
            </span>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
