<div class="flex justify-content-center align-items-center h-6 w-screen font-bold">
  <div class="col-10">
    <div class="surface-card p-4 shadow-2 border-round w-full">
      <div class="flex justify-content-center mb-5">
        <p-chip styleClass="mr-2  custom-chip">
          <p class="my-1 mx-1 text-lg" style="font-size: 12px; font-weight: 500;">Article Table</p>
        </p-chip>
      </div>
      <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
          <button pButton pRipple label="New Article" icon="pi pi-plus" class="p-button-success mr-2" routerLink="/article/admin/create"></button>
        </ng-template>

        <ng-template pTemplate="right">
          <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
            class="mr-2 inline-block"></p-fileUpload>
          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
      </p-toolbar>

      <p-table [tableStyle]="{'min-width': '60rem'}" [lazy]="true">
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            Manage Article
            <p-button icon="pi pi-refresh"></p-button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>No.</th>
            <th>Title</th>
            <th>Content</th>
            <th>Image</th>
            <th>Action</th>
            <th>Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>1</td>
            <td><img src="https://buildwithangga.com/storage/assets/thumbnails/thumbnail_vue_starter.png" width="100"
                class="shadow-4" /></td>
            <td>tes</td>
            <td>tes</td>
            <td>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
