<div class="flex justify-content-center align-items-center h-6 w-screen font-bold">
  <div class="col-10">
    <div class="surface-card p-4 shadow-2 border-round w-full" infinite-scroll (scrolled)="onScroll()">
      <div class="flex justify-content-center mb-5">
        <p-chip styleClass="mr-2  custom-chip">
          <p class="my-1 mx-1 text-lg" style="font-size: 12px; font-weight: 500;">Article Table</p>
        </p-chip>
      </div>
      <p-toolbar styleClass="gap-2 mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="New Article" icon="pi pi-plus" class="p-button-primary mr-2"
            routerLink="/article/admin/create"></button>
        </ng-template>

      </p-toolbar>

      <div class="grid justify-content-center">
        <div class="col-12">
          <div class="grid justify-content-between grid-nogutter" infinite-scroll (scrolled)="onScroll()" >
            <div class="col-4  pb-3 pr-4" *ngFor="let art of articleList ; index as i" >
              <div class="card-hover surface-card p-3 shadow-1 border-round " >
                <img alt="Logo Class"
                  src="http://localhost:1214/files/{{art.fileId}}"
                  class="w-full" style="height: 270px;">

                <p class="my-1" style="font-weight: 600; font-size: 16px; text-align: justify;">{{art.title}}</p>

                <p class="my-1" style="font-weight: 400; font-size: 14px; text-align: justify;">{{art.content| slice:0:200}}<span class="cursor-pointer" routerLink="/articles/detail/{{art.articleId}}" style="color: #137C3B; font-weight: 700;"> ...See More </span> </p>

                <div class="align-items-center justify-content-start flex mt-2">
                  <button pButton pRipple label="Update" icon="pi pi-pencil" class="p-button-info mr-2 p-button-sm"
                    routerLink="/article/admin/update/{{art.articleId}}"></button>
                  <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger mr-2 p-button-sm"
                    (click)="confirm($event,art.articleId,i)" ></button>
                    <p-confirmPopup></p-confirmPopup>
                </div>
              </div>
            </div>





          </div>
        </div>
      </div>
      <p-scrollTop target="window" styleClass="custom-scrolltop" [threshold]="100" icon="pi pi-arrow-up"></p-scrollTop>

    </div>
  </div>
</div>
