<div class="menubar-container shadow-2">
  <p-menubar class="justify-content-center" [model]="items">
    <ng-template pTemplate="start">
      <p-image class="ml-6" src="assets/img/logo.png" alt="Image" width="110"></p-image>
    </ng-template>

    <ng-template pTemplate="end">
      <div class="grid grid-nogutter align-items-center">

        <p-button class="hidden lg:block md:block"
          styleClass="p-button-outlined p-button-rounded p-button-warning p-button-sm mr-4" routerLink="/premium">
          <i class="pi pi-bolt font-semibold"></i>
          <p class="ml-2 font-medium" style="color: black;">Try Premium</p>
        </p-button>
        <img *ngIf="src" src="{{src}}" class="border-circle cursor-pointer mr-2" width="40" height="40"
          style="object-fit : cover;" alt="profile" (click)="menu.toggle($event)">
        <p-button *ngIf="!src" icon="pi pi-user"  (click)="menu.toggle($event)" 
          styleClass="p-button-rounded p-button-secondary p-button-outlined bg-gray-100 h-3rem w-3rem"></p-button>

        <p-tieredMenu #menu [model]="itemProfile" [popup]="true"></p-tieredMenu>
      </div>

    </ng-template>
  </p-menubar>
</div>
<router-outlet></router-outlet>