<div class="menubar-container shadow-2">
  <p-menubar class="justify-content-center" [model]="items">
    <ng-template pTemplate="start">
      <p-image class="ml-6" src="assets/img/logo.png" alt="Image" width="110"></p-image>
    </ng-template>

    <ng-template pTemplate="end">
      <div class="grid grid-nogutter align-items-center">

        <p-button *ngIf="roleCode=='MB'&&!premium" class="hidden lg:block md:block"
          styleClass="p-button-outlined p-button-rounded p-button-warning p-button-sm mr-4" routerLink="/premium">
          <i class="pi pi-bolt font-semibold"></i>
          <p class="ml-2 font-medium" style="color: black;">Try Premium</p>
        </p-button>
        <app-tiered-menu [model]="itemProfile" topSpace="8px" rightSpace="8px">
          <ng-template #content>
            <img *ngIf="src" src="{{src}}" class="border-circle cursor-pointer mr-2 mt-1" width="45" height="45"
              style="object-fit : cover;" alt="profile">
            <p-button *ngIf="!src" icon="pi pi-user"
              styleClass="p-button-rounded p-button-secondary p-button-outlined bg-gray-100 h-3rem w-3rem mr-2"></p-button>
          </ng-template>
        </app-tiered-menu>
      </div>

    </ng-template>
  </p-menubar>
</div>
<router-outlet></router-outlet>