<div class="flex justify-content-center">
  <div class="col-8">
    <div class="surface-card mt-4 p-5 shadow-2 border-round">
      <div class="field w-full col-12">
        <label for="username1" class="block">
          <p class="my-0">Post Title</p>
        </label>
        <input class="w-full" id="username1" type="username" aria-describedby="username1-help"
          placeholder="Enter post title" pInputText />
      </div>
      <div class="field w-full col-12">
        <label for="username1" class="block">
          <p class="my-0">Post Content</p>
        </label>
        <textarea class="w-full" id="float-input" rows="5" cols="30" placeholder="Enter post content"
          [autoResize]="true" pInputTextarea></textarea>
      </div>
      <div class="flex w-full">
        <div class="col-5">
          <div class="flex-column">
            <div class="mb-2 flex justify-content-start">
              <label for="username1" class="block">
                <p class="my-0">Premium Post</p>
              </label>
            </div>
            <div class="flex justify-content-start">
              <p-inputSwitch></p-inputSwitch>
            </div>
          </div>
        </div>
        <div class="field col-7">
          <label for="username1" class="block">
            <p class="my-0">Post Category</p>
          </label>
          <p-dropdown placeholder="Select post category" optionLabel="name" styleClass="w-full" [showClear]="true">
          </p-dropdown>
        </div>
      </div>
      <div class="col-12" *ngIf="inputImage">
        <hr class="mb-5" style="height:2px;border-width:0;color:rgb(227, 227, 227);background-color:rgb(221, 221, 221)">
        <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)" [multiple]="true" accept="image/*">
          <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
            </ul>
          </ng-template>
        </p-fileUpload>
        
      </div>
      <div class="col-12" *ngIf="inputPolling">
        <hr class="mb-5" style="height:2px;border-width:0;color:rgb(227, 227, 227);background-color:rgb(221, 221, 221)">
        <div class="surface-card p-5 border-1 border-round" style="color:rgb(227, 227, 227)">
          <div style="color: black;">halo halo halo</div>
        </div>
      </div>
      <div class="col-12">
        <div class="justify-content-between flex mt-3">
          <div class="flex align-items-center ml-2">
            <i class="pi pi-image mr-3" style="font-size: 2rem; font-weight: 600; color: #22C55E;"
              (click)="showInputImage()"></i>
            <i class="pi pi-list ml-2" style="font-size: 2rem; font-weight: 600; color: #22C55E;"
              (click)="showInputPolling()"></i>
          </div>
          <button style="background-color: 29BA7B;" pButton pRipple type="button" class="p-button-primary w-2 h-3rem">
            <p class="w-full" style="font-weight: 700;">Create Post</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
