<div class="flex justify-content-center align-items-center h-screen w-screen">
  <div class="col-7">
    <div class="surface-card grid shadow-2 border-round">
      <div class="col-6 hidden lg:block justify-content-start p-0 m-0 ">
        <img class="flex w-full align-self-center flex h-full " src="assets/img/login-img.png"
          alt="Fissure in Sandstone" />
      </div>

      <div class="lg:col-6 sm:col-12 pt-6 pb-0 px-3">
        <div class="grid justify-content-center flex mb-2">
          <p style="font-size: 1.8rem; font-weight: 500;"> <i class="pi pi-user-plus mr-3"
              style="font-size: 1.6rem; font-weight: 600; color: #137C3B;"></i>Register Account</p>
        </div>
        <form class="flex justify-content-center py-1" [formGroup]="registerForm">
          <div class="col-10 mb-5" *ngIf="registDetail == 1">
            <div class="mb-2">

              <div class="flex align-items-center justify-content-between mb-1">
                <label for="email1" class="block text-900 font-medium">Full Name <span style="color: rgb(225, 0, 0);">*
                  </span></label>

                <div
                  *ngIf="registerForm.get('fullName')?.invalid && (registerForm.get('fullName')?.dirty || registerForm.get('fullName')?.touched)">
                  <div *ngIf="registerForm.get('fullName')?.errors?.['required']">
                    <p class="block text-xs font-200 " style="color: rgb(225, 0, 0);">&nbsp; This field must be filled.
                    </p>
                  </div>

                </div>
              </div>

              <input formControlName="fullName" type="text" placeholder="Full name" pInputText
                class="w-full {{ registerForm.get('fullName')
                ?.invalid && ( registerForm.get('fullName')?.dirty ||  registerForm.get('fullName')?.touched) ? 'ng-invalid ng-dirty' : '' }}">



            </div>

            <div class="mb-2">
              <div class="flex align-items-center justify-content-between mb-1">
                <label for="email1" class="block text-900 font-medium ">Email <span style="color: rgb(225, 0, 0);">*
                  </span>
                </label>
                <div
                  *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
                  <div *ngIf="registerForm.get('email')?.errors?.['required']">
                    <p class="block text-xs font-200 " style="color: rgb(225, 0, 0);">&nbsp; This field must be filled.
                    </p>
                  </div>
                </div>
              </div>
              <input formControlName="email" id="email1" type="email" placeholder="Email address" pInputText
                class="w-full {{registerForm.get('email')
                  ?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched) ? 'ng-invalid ng-dirty' : '' }}">

            </div>

            <div class="mb-2">
              <div class="flex align-items-center justify-content-between mb-1">
                <label for="password1"
                  class="block text-900 font-medium mb-1 {{registerForm.get('pass')
                ?.invalid && (registerForm.get('pass')?.dirty || registerForm.get('pass')?.touched) ? 'ng-invalid ng-dirty' : '' }}">Password
                  <span style="color: rgb(225, 0, 0);">* </span></label>

                <div
                  *ngIf="registerForm.get('pass')?.invalid && (registerForm.get('pass')?.dirty || registerForm.get('pass')?.touched)">
                  <div *ngIf="registerForm.get('pass')?.errors?.['required']" class="mb-2">
                    <p class="block text-xs font-200 " style="color: rgb(225, 0, 0);">&nbsp; This field must be filled.
                    </p>
                  </div>
                </div>
              </div>

              <input formControlName="pass" id="password1" type="password" placeholder="Password" pInputText
                class="w-full">

            </div>
            <div>

              <div class="flex justify-content-center">
                <a class="font-medium no-underline text-black-500 text-right cursor-pointer mb-2"
                  style="font-size: 14px;">Already have an account?
                  <span style="color: #137C3B; font-weight: 700;" routerLink="/login">Sign In</span> Here</a>
              </div>
              <div class="justify-content-center flex">
                <button pButton pRipple label="Next"
                  [disabled]="!registerForm.get('fullName')?.value || !registerForm.get('email')?.value || !registerForm.get('pass')?.value"
                  icon="pi pi-angle-right" style=" background-color: #137C3B; "
                  class="p-button-raised p-button-success w-full" (click)="showDetails()"></button>
              </div>
            </div>
          </div>
          <div class="col-10" *ngIf="registDetail == 2">

            <div class="mb-2">
              <div class="flex align-items-center justify-content-between mb-1">
                <label for="phoneNum" class="block text-900 font-medium">Phone Number</label>

                <div
                  *ngIf="registerForm.get('phoneNumber')?.invalid && (registerForm.get('phoneNumber')?.dirty || registerForm.get('phoneNumber')?.touched)">
                  <div *ngIf="registerForm.get('phoneNumber')?.errors?.['required']">
                    <p class="block text-xs font-200 " style="color: rgb(225, 0, 0);">&nbsp; This field must be filled.
                    </p>
                  </div>
                </div>
              </div>

              <input formControlName="phoneNumber" id="phoneNum" type="number" placeholder="Phone number" pInputText
                class="w-full {{ registerForm.get('phoneNumber')
                ?.invalid && ( registerForm.get('phoneNumber')?.dirty ||  registerForm.get('phoneNumber')?.touched) ? 'ng-invalid ng-dirty' : '' }}">
            </div>

            <div class="mb-2">
              <div class="flex align-items-center justify-content-between mb-1">
                <label for="address" class="block text-900 font-medium ">Address</label>

                <div
                  *ngIf="showMb2 && registerForm.get('address')?.invalid && (registerForm.get('address')?.dirty || registerForm.get('address')?.touched)">
                  <div *ngIf="registerForm.get('address')?.errors?.['required']">
                    <p class="block text-xs font-200 " style="color: rgb(225, 0, 0);">&nbsp; This field must be filled.
                    </p>
                  </div>
                </div>
              </div>



              <input formControlName="address" id="address" type="text" placeholder="Home address" pInputText
                class="w-full rounded {{ registerForm.get('address')
                ?.invalid && ( registerForm.get('address')?.dirty ||  registerForm.get('address')?.touched) ? 'ng-invalid ng-dirty' : '' }}">

            </div>


            <div class="mb-2">

              <div class="flex align-items-center justify-content-between mb-1">

                <label for="company" class="block text-900 font-medium ">Company</label>

                <div
                  *ngIf="showMb2 && registerForm.get('companyName')?.invalid && (registerForm.get('companyName')?.dirty || registerForm.get('companyName')?.touched)">
                  <div *ngIf="registerForm.get('companyName')?.errors?.['required']">
                    <p class="block text-xs font-200 " style="color: rgb(225, 0, 0);">&nbsp; This field must be filled.
                    </p>
                  </div>
                </div>
              </div>

              <input formControlName="companyName" id="company" type="text" placeholder="Company name" pInputText
                class="w-full rounded {{ registerForm.get('companyName')
                ?.invalid && ( registerForm.get('companyName')?.dirty || registerForm.get('companyName')?.touched) ? 'ng-invalid ng-dirty' : '' }}">
            </div>

            <div class="flex flex-wrap">

              <div class="col p-0">
                <p-dropdown styleClass="w-10rem"
                  class="{{registerForm.get('industryId')
                ?.invalid && (registerForm.get('industryId')?.dirty || registerForm.get('industryId')?.touched) ? 'ng-invalid ng-dirty' : '' }}"
                  placeholder="Industry" [options]="industryList" formControlName="industryId" optionValue="id"
                  optionLabel="industryName" [showClear]="true">
                </p-dropdown>
              </div>
              <div class="mx-1"></div>
              <div class="col p-0">
                <p-dropdown styleClass="w-10rem"
                  class="{{registerForm.get('positionId')
                ?.invalid && (registerForm.get('positionId')?.dirty || registerForm.get('positionId')?.touched) ? 'ng-invalid ng-dirty' : '' }}"
                  placeholder="Position" [options]="positionList" formControlName="positionId" optionValue="id"
                  optionLabel="positionName" [showClear]="true">
                </p-dropdown>
              </div>
            </div>
            <div class="flex align-items-center mt-3">
              <div class="col p-0 justify-content-start">
                <button pButton pRipple label="Back" icon="pi pi-angle-left" style=" background-color: #137C3B; "
                  class="p-button-raised p-button-success w-full button-sm" styleClass="p-button-sm"
                  (click)="backDetails()"></button>
              </div>

              <div class="mx-5"></div>

              <div class="col p-0 justify-content-end">
                <button
                  [disabled]="!registerForm.get('phoneNumber')?.value || !registerForm.get('address')?.value || !registerForm.get('companyName')?.value  || !registerForm.get('positionId')?.value  || !registerForm.get('industryId')?.value"
                  pButton pRipple label="Next" icon="pi pi-angle-right" style=" background-color: #137C3B; "
                  class="p-button-raised p-button-success w-full button-sm" styleClass="p-button-sm"
                  (click)="showDetails()" (click)="onVerification()"></button>
              </div>
            </div>


          </div>

          <div class="col-10" *ngIf="registDetail == 3">
            <label for="email1" class="block text-900 font-medium mb-2 text-center">Enter 6-Digit Verification Code
              Sent
              to Your Email</label>
            <input id="email1" formControlName="verificationCode" type="text" placeholder="6 Digit Code"
              class="text-center" pInputText class="w-full mb-3">

            <div class="flex align-items-center mt-3">
              <div class="col p-0 justify-content-start">
                <button pButton pRipple label="Back" icon="pi pi-angle-left" style=" background-color: #137C3B; "
                  class="p-button-raised p-button-success w-full button-sm" styleClass="p-button-sm"
                  (click)="backDetails()"></button>
              </div>

              <div class="mx-5"></div>

              <div class="col p-0 justify-content-end">
                <button pButton pRipple label="Confirm" icon="pi pi-user-plus" style=" background-color: #137C3B; "
                  class="p-button-raised p-button-success w-full button-sm" styleClass="p-button-sm"
                  (click)="showModalDialog()" (click)="onRegister()"></button>


                <p-dialog class="py-0" [(visible)]="displayModal" [modal]="true" [style]="{width: '35vw'}"
                  [draggable]="false" [resizable]="false">
                  <div class="justify-content-center flex">
                    <div class="block">
                      <p class="m-0 text-3xl my-5">Thank you for your registration</p>
                      <div class="justify-content-center flex">
                        <span class="text-center" style="border-radius: 10px">
                          <i class="pi pi-check-circle text-8xl text-green-500"></i>
                        </span>
                      </div>
                      <div class="flex justify-content-center my-5">
                        <button pButton pRipple label="Back to login menu" style=" background-color: #137C3B; "
                          class="p-button-raised p-button-success w-full" routerLink="/login"></button>
                      </div>
                    </div>

                  </div>
                </p-dialog>
              </div>
            </div>
          </div>
        </form>

        <div class="flex-column align-items-end">
          <div class="justify-content-center flex mt-2 position bottom-0">
            <div class="col-11 p-0  ">
              <p-steps [model]="items" [activeIndex]="activeIndex"></p-steps>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
