<!-- <pre>
  {{categoriesCreated.value|json}}
</pre> -->
<div class="grid grid-nogutter surface-section text-800 mb-3 overflow-x-hidden">
  <div
    class="justify-content-center lg:justify-content-start md:justify-content-start col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
    <section>
      <span class="block text-4xl font-bold mb-1">
        <p>My Courses</p>
      </span>
      <div class="text-3xl font-bold mb-3">
        <p style="color: #22C55E;">Subscribed and Created Courses</p>
      </div>
    </section>
  </div>
  <div class="hidden lg:block md:block col-12 md:col-6 overflow-hidden overflow-x: hidden;">
    <img src="https://buildwithangga.com/storage/assets/thumbnails/thumbnail_vue_starter.png" alt="Image"
      class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
  </div>
</div>

<div class="grid justify-content-center flex mt-6">
  <div class="col-11 justify-content-center align-items-center ">
    <div class="card">

      <p-tabView styleClass="tabview-custom">

        <p-tabPanel class="my-0">
          <ng-template pTemplate="header">
            <i class="pi pi-calendar mr-3"></i>
            <span>Subscribed Courses</span>
          </ng-template>
          <div class="grid justify-content-center">
            <div class="hidden lg:block md:block lg:col-3 md:col-3 mt-3">
              <div class="text-xl font-medium text-900 mb-3 align-items-center flex">
                <i class="pi pi-filter mr-2" style="font-size: 1rem; color: #22C55E;"></i>
                <span>Filters</span>
              </div>

              <div class="surface-card p-4 shadow-2 border-round">
                <p style="font-weight: 400;">Category</p>

                <div class="mt-3" [formGroup]="categories">
                  <div *ngFor="let ct of categoryList" (mouseenter)="onHover()" (mouseleave)="onLeave()"
                    class="hoverable-element">
                    <div class="field-checkbox">
                      <p-checkbox name="{{ct.categoryName}}" formControlName="category" value="{{ct.id}}" inputId="ms">
                      </p-checkbox>
                      <label class="text-sm" for="ms">{{ct.categoryName}}</label>

                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="justify-content-center lg:col-8 md:col-8 mt-3 ml-5">
              <div class="text-xl font-medium text-900 mb-3 align-items-center flex">
                <i class="pi pi-calendar mr-2" style="font-size: 1rem; color: #22C55E;"></i>
                <span>Registered Courses</span>
              </div>
              <div
                class="flex flex-wrap justify-content-center lg:justify-content-start md:justify-content-start gap-5 lg:gap-5 md:gap-3">
                <div class="surface-card p-3 mt-3 shadow-2 border-round m-0" *ngFor="let cl of courseList">
                  <img alt="Logo Class" src="http://localhost:1214/files/{{cl.fileId}}" class="w-15rem">

                  <div class="grid my-0">
                    <div class="col flex my-0">
                      <i class="pi pi-building mb-2 mr-1" style="font-size: 20px; color: #a4a4a4;"></i>
                      <p style="font-size: 14px; font-weight: 400;">{{cl.provider}}</p>

                    </div>
                    <div class="col justify-content-end flex my-0">
                      <i class="pi pi-calendar mb-2 mr-1" style="font-size: 20px; color: #a4a4a4;"></i>
                      <p style="font-size: 14px; font-weight: 400;">{{cl.activityTypeName}}</p>
                    </div>
                  </div>

                  <p class="my-1" style="font-weight: 700; font-size: 20px;">{{cl.title}}</p>

                  <div class="grid">
                    <div class="col align-items-center">
                      <p class="my-3 align-items-center flex" style="font-size: 14px; font-weight: 400;"> <i
                          class="pi pi-map-marker mr-2"
                          style="font-size: 20px; font-weight: 400; color: #a4a4a4;"></i>{{cl.locationAddress}}</p>
                      <p class="my-3 align-items-center flex" style="font-size: 14px; font-weight: 400;"
                        *ngFor="let sch of cl.schedule"> <i class="pi pi-calendar mr-2"
                          style="font-size: 20px; font-weight: 400; color: #a4a4a4;"></i>{{sch.scheduleDate|date:'fullDate'}}
                      </p>
                      <p class="my-3 align-items-center flex" style="font-size: 14px; font-weight: 400;"> <i
                          class="pi pi-clock mr-2"
                          style="font-size: 20px; font-weight: 400; color: #a4a4a4;"></i>{{cl.timeStart }}
                        - {{cl.timeEnd}}
                      </p>
                      <p class="my-3 align-items-center flex" style="font-size: 14px; font-weight: 400;"> <i
                          class="pi pi-money-bill mr-2"
                          style="font-size: 20px; font-weight: 400; color: #a4a4a4;"></i>Rp {{cl.price}}
                      </p>

                      <p-chip styleClass="custom-chip">
                        <p class="my-1" style="font-size: 12px; font-weight: 500;">{{cl.categoryName}}</p>
                      </p-chip>

                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>


        </p-tabPanel>
        <p-tabPanel header="Header II">
          <ng-template pTemplate="header">
            <i class="pi pi-calendar-plus mr-3"></i>
            <span>Created Courses</span>
          </ng-template>
          <div class="grid justify-content-center">
            <div class="hidden lg:block md:block lg:col-3 md:col-3 mt-3">
              <div class="text-xl font-medium text-900 mb-3 align-items-center flex">
                <i class="pi pi-filter mr-2" style="font-size: 1rem; color: #22C55E;"></i>
                <span>Filters</span>
              </div>

              <div class="surface-card p-4 w-full shadow-2 border-round">
                <p style="font-weight: 400;">Category</p>

                <div class="mt-3">
                  <div class="mt-3" [formGroup]="categoriesCreated">
                    <div *ngFor="let ct of categoryListCreated" (mouseenter)="onHover()" (mouseleave)="onLeave()"
                      class="hoverable-element">
                      <div class="field-checkbox">
                        <p-checkbox name="{{ct.categoryName}}" formControlName="categoryCreated" value="{{ct.id}}"
                          inputId="ms">
                        </p-checkbox>
                        <label class="text-sm" for="ms">{{ct.categoryName}}</label>

                      </div>
                    </div>
                  </div>


                </div>

              </div>
            </div>

            <div class="justify-content-center lg:col-8 md:col-8 mt-3 ml-5">
              <div class="text-xl font-medium text-900 mb-3 align-items-center flex">
                <i class="pi pi-calendar mr-2" style="font-size: 1rem; color: #22C55E;"></i>
                <span>Created Courses</span>
              </div>
              <div
                class="flex flex-wrap justify-content-center lg:justify-content-start md:justify-content-start gap-5 lg:gap-5 md:gap-3">
                <div class="surface-card p-3 shadow-2 border-round m-0 " *ngFor="let cl of courseListCreated">
                  <img alt="Logo Class" src="http://localhost:1214/files/{{cl.fileId}}" class="w-15rem">

                  <div class="grid my-0">
                    <div class="col flex my-0">
                      <i class="pi pi-building mb-2 mr-1" style="font-size: 20px; color: #a4a4a4;"></i>
                      <p style="font-size: 14px; font-weight: 400;">{{cl.provider}}</p>

                    </div>
                    <div class="col justify-content-end flex my-0">
                      <i class="pi pi-calendar mb-2 mr-1" style="font-size: 20px; color: #a4a4a4;"></i>
                      <p style="font-size: 14px; font-weight: 400;">{{cl.activityTypeName}}</p>
                    </div>
                  </div>

                  <p class="my-1" style="font-weight: 700; font-size: 20px;">{{cl.title}}</p>

                  <div class="grid">
                    <div class="col align-items-center">
                      <p class="my-3 align-items-center flex" style="font-size: 14px; font-weight: 400;"> <i
                          class="pi pi-map-marker mr-2"
                          style="font-size: 20px; font-weight: 400; color: #a4a4a4;"></i>{{cl.locationAddress}}</p>
                      <p class="my-3 align-items-center flex" style="font-size: 14px; font-weight: 400;"
                        *ngFor="let sch of cl.schedule"> <i class="pi pi-calendar mr-2"
                          style="font-size: 20px; font-weight: 400; color: #a4a4a4;"></i>{{sch.scheduleDate|date:'fullDate'}}
                      </p>
                      <p class="my-3 align-items-center flex" style="font-size: 14px; font-weight: 400;"> <i
                          class="pi pi-clock mr-2"
                          style="font-size: 20px; font-weight: 400; color: #a4a4a4;"></i>{{cl.timeStart }}
                        - {{cl.timeEnd}}
                      </p>
                      <p class="my-3 align-items-center flex" style="font-size: 14px; font-weight: 400;"> <i
                          class="pi pi-money-bill mr-2"
                          style="font-size: 20px; font-weight: 400; color: #a4a4a4;"></i>Rp {{cl.price}}
                      </p>

                      <p-chip styleClass="custom-chip">
                        <p class="my-1" style="font-size: 12px; font-weight: 500;">{{cl.categoryName}}</p>
                      </p-chip>

                    </div>
                  </div>
                </div>

              </div>

            </div>

          </div>
        </p-tabPanel>

      </p-tabView>
    </div>
  </div>
</div>
