<div class="grid justify-content-center">
    <div class="col-8">
      <p style="font-weight: 800; color: #29BA7B;">Posts Home</p>
      <div class="grid justify-content-start block col-12">
        <button pButton pRipple type="button" class="p-button-success w-full h-3rem">
          <p class="w-full" style="font-weight: 700;" routerLink="/posts/create" >Create New Post</p>
        </button>
  
        <div class="surface-card mt-4 p-4 shadow-2 border-round">
  
          <div class="col-12 flex my-0">
            <p-avatar image="../../../assets/img/unnamed.jpg"
              styleClass="mr-3" size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle">
            </p-avatar>
            <p class="my-3" style="font-weight: 500; font-size: 20px; display: flex;">Yudha H</p>
          </div>
          <div class="grid">
  
          </div>
          <div class="col-12">
            <div class="text-xl font-medium text-900">
              <p class="my-0">What programming languange most people are using? </p>
            </div>
            <div class="font-small mb-3 ">
              <p class="text-justify" style="text-align: justify; font-size: 17px; font-weight: 400;">Im new in
                programming, so i wonder what programming languange are the most promising in the Information
                Technology Industry Company job vacancy. What programming languange should i start to use?</p>
            </div>
            <div class="justify-content-between flex mt-2">
              <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image" width="290">
              </p-image>
              <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image" width="290">
              </p-image>
              <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image" width="290">
              </p-image>
            </div>
            <div class="font-small mb-3 ">
              <p>Created at 09:00 22/02/2023</p>
            </div>
  
            <div class="grid">
              <div class="col-2">
                <!-- <button style="font-size: 50px; font-weight: 600; color: #C94C0A;" pButton  type="button" icon="pi pi-heart-fill" class="p-button-rounded p-button-Danger p-button-text" ></button> -->
                <p style="font-size: 20px; font-weight: 400;"> <i class="pi pi-heart-fill mr-3"
                    style="font-size: 30px; font-weight: 600; color: #C94C0A;"></i>21 Likes</p>
              </div>
  
              <div class="col-3">
                <p style="font-size: 20px; font-weight: 400;"> <i class="pi pi-comments mr-3"
                    style="font-size: 30px; font-weight: 600; color: #FCAC26;"></i>12 Comments</p>
              </div>
  
            </div>
  
  
          </div>
  
        </div>
      </div>
    </div>
  
    <div class="col-2">
      <p style="font-weight: 800; color: #29BA7B;">Training & Courses</p>
      <div class="surface-card p-4 shadow-2 border-round">
        <img class="w-full" alt="Logo Class" src="https://buildwithangga.com/storage/assets/thumbnails/thumbnail_vue_starter.png"
          >
        <p class="my-2" style="font-weight: 700; font-size: 20px;">Vue Js Course</p>
  
        <div class="grid">
          <div class="col">
            <p class="my-3" style="font-size: 17px; font-weight: 400;"> <i class="pi pi-map-marker mr-2"
                style="font-size: 20px; font-weight: 400; color: #a4a4a4;"></i>Pakuwon Tower</p>
            <p class="my-3" style="font-size: 17px; font-weight: 400;"> <i class="pi pi-calendar mr-2"
                style="font-size: 20px; font-weight: 400; color: #a4a4a4;"></i>21 Januari 2023</p>
            <p class="my-3" style="font-size: 17px; font-weight: 400;"> <i class="pi pi-clock mr-2"
                style="font-size: 20px; font-weight: 400; color: #a4a4a4;"></i>19:00 - 21:00</p>
            <p class="my-3" style="font-size: 17px; font-weight: 400;"> <i class="pi pi-money-bill mr-2"
                style="font-size: 20px; font-weight: 400; color: #a4a4a4;"></i>Rp 220.000</p>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  