<div class="justify-content-center">
  <div class="col-10 flex mt-3">
    <div class="col-4 ml-2 justify-content-center flex">

      <div class="align-items-center flex">
        <button pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-primary"
          routerLink="/activities/event-detail"></button>

        <ul class="list-none p-0 m-0 flex align-items-center font-medium ml-3">
          <li>
            <a class="text-500 no-underline line-height-3 cursor-pointer">Events</a>
          </li>
          <li class="px-2">
            <i class="pi pi-angle-right text-500  line-height-3"></i>
          </li>
          <li>
            <span class="text-500 line-height-3 cursor-pointer">Event Detail</span>
          </li>
          <li class="px-2">
            <i class="pi pi-angle-right text-500 line-height-3"></i>
          </li>
          <li>
            <span class="text-900 line-height-3">Event Payment</span>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
<div class="justify-content-center flex">
  <div class="col-10">
    <div class="surface-card p-3 shadow-2 border-round ">
      <div class="flex">
        <div class="col-8 p-4">
          <div class="surface-card p-3 shadow-2 border-round ">
            <div class="flex">
              <img alt="Logo Class"
                src="https://media.discordapp.net/attachments/1085059439872200774/1085059469429452820/image.png?width=1381&height=662"
                class="w-22rem h-11rem">
              <div class="ml-3">
                <div class="col align-items-center p-0">
                  <p class="mb-2" style="font-weight: 600; font-size: 21px; text-align: justify;">Mencapai 100 Juta
                    Pertama
                  </p>
                  <p class="py-2 align-items-center flex" style="font-size: 16px; font-weight: 400;"> <i
                      class="pi pi-map-marker mr-3"
                      style="font-size: 22px; font-weight: 400; color: #4CAF50;"></i>Pakuwon
                    Tower</p>
                  <p class="py-2 align-items-center flex" style="font-size: 16px; font-weight: 400;"> <i
                      class="pi pi-calendar mr-3" style="font-size: 22px; font-weight: 400; color: #4CAF50;"></i>21
                    Januari
                    2023</p>
                  <p class="py-2 align-items-center flex" style="font-size: 16px; font-weight: 400;"> <i
                      class="pi pi-clock mr-3" style="font-size: 22px; font-weight: 400; color: #4CAF50;"></i>19:00 -
                    21:00
                  </p>

                </div>
              </div>
            </div>
          </div>

          <div class="my-5" style="border-bottom: 1px dotted #000;"></div>
          <div class="surface-card p-3 shadow-2 border-round ">
            <div class="flex">
              <p class="mb-2" style="font-weight: 600; font-size: 21px; text-align: justify;">Payment Details
                <i class="pi pi-wallet"></i></p>

            </div>
            <div class="flex">
              <div class="col-6 p-0 flex align-items-center">
                <p class="py-2 align-items-center flex" style="font-size: 16px; font-weight: 500;">
                  Bank Account Number</p>
              </div>

              <div class="col-6 p-0 align-items-center">
                <p class="py-2 align-items-center justify-content-end flex" style="font-size: 16px; font-weight: 500;">
                  <img class="w-4rem h-3rem"
                    src=" https://buatlogoonline.com/wp-content/uploads/2022/10/Logo-Bank-BCA-1.png" alt="">
                  62777111851</p>
                <div class="flex justify-content-end p-0">
                  <p style="font-size: 14px;">*Please record your transfer evidence</p>
                </div>

              </div>
            </div>

            <div class="flex justify-content-center mt-3">
              <div class="file-btn-container">
                <p-fileUpload chooseIcon="pi pi-fw pi-upload"
                  chooseLabel="Upload transfer evidence" mode="basic"
                  name="demo[]" url="./upload.php" accept="image/*">
                </p-fileUpload>
              </div>

            </div>

          </div>
        </div>

        <div class="col-4 p-4">
          <div class="surface-card py-3 px-4 shadow-2 border-round ">
            <div class="">
              <div class="col align-items-center p-0">
                <p class="mb-2" style="font-weight: 600; font-size: 21px; text-align: justify;">Price Detail
                </p>

                <div class="flex">
                  <div class="col-6 p-0">
                    <p class="py-2 align-items-center justify-content-start flex"
                      style="font-size: 14px; font-weight: 500;">e</p>
                    <p class="py-2 align-items-center justify-content-start flex"
                      style="font-size: 14px; font-weight: 500;">Voucher Discount
                    </p>
                  </div>
                  <div class="col-6 p-0">
                    <p class="py-2 align-items-center justify-content-end flex"
                      style="font-size: 14px; font-weight: 500;">Rp 120.000</p>
                    <p class="py-2 align-items-center justify-content-end  flex"
                      style="font-size: 14px; font-weight: 500;">Rp 20.000
                    </p>
                  </div>
                </div>

                <div class="my-3" style="border-bottom: 1px dotted #000;"></div>

                <p class="mb-2" style="font-weight: 600; font-size: 21px; text-align: justify;">Total Price
                </p>

                <div class="flex">
                  <div class="col-6 p-0">
                    <p class="py-2 align-items-center justify-content-start flex"
                      style="font-size: 14px; font-weight: 500;">Total</p>
                  </div>
                  <div class="col-6 p-0">
                    <p class="py-2 align-items-center justify-content-end flex"
                      style="font-size: 14px; font-weight: 500; text-decoration: line-through;">Rp 120.000</p>
                    <p class="py-2 align-items-center justify-content-end  flex"
                      style="font-size: 14px; font-weight: 500;">Rp 100.000
                    </p>
                  </div>

                </div>

                <div class="col-12 p-0">
                  <div class="p-inputgroup w-full mt-2 ">
                    <span class="p-inputgroup-addon"><i class="pi pi-ticket"></i></span>
                    <input type="text" pInputText placeholder="Voucher Code">
                  </div>
                  <p class="py-2 align-items-center justify-content-start flex"
                    style="font-size: 14px; font-weight: 400; text-align: justify;">You only able to use one voucher
                    per-item you buy.</p>

                  <div class="my-3" style="border-bottom: 1px dotted #000;"></div>

                  <div class="flex">
                    <div class="col-6 p-0">
                      <div class="text-xl font-medium text-900 mb-3 align-items-center flex">
                        <i class="pi pi-tag mr-2" style="font-size: 1rem; color: #22B3C7;"></i>
                        <span>Price</span>
                      </div>
                    </div>

                    <div class="col-6 p-0">
                      <p class="py-2 align-items-center justify-content-end  flex"
                        style="font-size: 1rem; font-weight: 500;">Rp 100.000

                    </div>

                  </div>

                  <div class="justify-content-center flex">
                    <button pButton pRipple type="button" label="Buy Event" class="p-button-primary font-medium w-full"
                      routerLink="/activities/event-payment"></button>



                      
                  </div>
                </div>
              </div>
            </div>

          </div>


        </div>
      </div>
    </div>
