<div class="grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
    <section>
      <span class="block text-6xl font-bold mb-1"><p>Join Our Event</p></span>
      <div class="text-6xl  font-bold mb-3"><p style="color: #22C55E;">Create Member and Join Now</p></div>

      <button pButton pRipple label="Create New Event" type="button" class="mr-3 p-button-raised p-button-success"></button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img src="https://buildwithangga.com/storage/assets/thumbnails/thumbnail_vue_starter.png" alt="Image"
      class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
  </div>
</div>


