<!-- <pre>
  {{ postList | json }}
</pre> -->

<div class="flex justify-content-center">
  <div class="col-7 mt-2">
    <div class="text-xl font-medium text-900 mb-3 align-items-center flex">
      <i class="pi pi-home mr-2" style="font-size: 1.4rem; color: #22C55E;"></i>
      <span>Posts Home</span>
    </div>
    <button pButton pRipple type="button" class="p-button-primary w-full h-3rem">
      <p class="w-full" style="font-weight: 700;" routerLink="/posts/create">Create New Post</p>
    </button>
    <div class="surface-card mt-4 p-5 shadow-2 border-round" *ngFor="let pl of postList">
      <div class="flex align-items-center">
        <div class="col flex p-0">
          <img class="border-circle mr-2" src="http://localhost:1214/files/{{ pl.fileId }}"
            style="width: 50px; height: 50 px;" alt="profile">
          <div>
            <p style="font-weight: 450; font-size: 20px;">{{ pl.fullName }}</p>
            <p style="font-size: 16px;">{{ pl.createdAt }}</p>
          </div>

          <!-- <div class="col-12" *ngIf="editBtn">
            <input class="w-full" type="text" pInputText placeholder="Comment">
          </div> -->
        </div>

        <div class="col flex justify-content-end p-0">
          <div class="align-items-center flex">
            <ng-container>
              <p-chip class="my-custom-chips"></p-chip>
              <p-chip class="chip-custom mr-1">
                <p class="my-1" style="font-size: 12px; font-weight: 500;">Premium</p>
              </p-chip>
              <p-chip styleClass="custom-chip">
                <p class="my-1" style="font-size: 12px; font-weight: 500; ">Information Technology</p>
              </p-chip>
              <div class="mt-1 ml-2">
                <app-tiered-menu [model]="postEdit" topSpace="8px" rightSpace="8px">
                  <ng-template #content>
                    <i class="pi pi-ellipsis-v cursor-pointer p-0"></i>
                  </ng-template>
                </app-tiered-menu>
              </div>
  
              <!-- <i pRipple class="pi pi-ellipsis-v cursor-pointer" (click)="menu.toggle($event)"
                style="font-size: 19px;"></i>
              <p-tieredMenu #menu [model]="postEdit" [popup]="true"></p-tieredMenu> -->
            </ng-container>
          </div>

          <!-- <button type="button" pButton pRipple icon="pi pi-send" (click)="showEdit()"></button> -->



        </div>

      </div>
      <div class="mt-3">
        <div class="text-xl font-medium text-900 my-2">
          <p style="font-weight: 700; font-size: 20px;">{{ pl.title }}</p>
        </div>
        <div class="font-small mb-3 ">
          <p class="text-justify" style="text-align: justify; font-size: 17px; font-weight: 400; line-height: 25px;">{{
            pl.content }}</p>
        </div>
        <!-- <div *ngIf="pl.file != null" class="flex gap-3">
          <div *ngFor="let f of pl.file" class="w-6">
            <p-image src="http://localhost:1214/files/{{ f }}"
              alt="Image" imageClass="border-round-lg" width="100%">
            </p-image>
          </div>
        </div> -->
        <div *ngIf="pl.polling?.userPollingId != null">
          <p-progressBar *ngFor="let p of pl.polling?.pollingDetail" [value]="p.percentage" styleClass="mt-3">
          </p-progressBar>
        </div>
        <div class="flex">
          <div class="col-2">
            <p (mouseenter)="onHover()" (mouseleave)="onLeave()" class="hoverable-element" class="likes"
              style="font-size: 17px; font-weight: 400;"> <i class="pi pi-heart-fill mr-2 cursor-pointer"
                style="font-size: 20px; font-weight: 600; color: #C94C0A;"></i>
              <i class=" pi pi-heart mr-2" style="font-size: 20px; font-weight: 400; color: #979797;"></i>
              {{ pl.likeSum }} Likes</p>
          </div>
          <div class="col-3">
            <p style="font-size: 17px; font-weight: 400;"> <i class="pi pi-comments mr-2 cursor-pointer"
                style="font-size: 20px; font-weight: 400; color: #979797;"></i>{{ pl.commentSum }} Comments</p>
          </div>
        </div>
        <div class="py-3">
          <hr size="2">
        </div>

        <div class="flex align-items-center">
          <img class="border-circle mr-2" src="http://localhost:1214/files/{{ pl.fileId }}"
            style="width: 50px; height: 50 px;" alt="profile">
          <div class="w-full">
            <div class="col-12 p-0">
              <div class="p-inputgroup">
                <input class="w-full" type="text" pInputText placeholder="Comment">
                <button type="button" pButton pRipple icon="pi pi-send" styleClass="p-button-warn"
                  class="p-button-info"></button>
              </div>
            </div>
          </div>
        </div>

        <div class="flex align-items-center mt-4">
          <img class="border-circle mr-2" src="http://localhost:1214/files/{{ pl.fileId }}"
            style="width: 50px; height: 50 px;" alt="profile">
          <div class="w-full">
            <div class="surface-card pl-2 pr-1 py-2 border-1 border-round"
              style="border-radius: 6px; color:rgb(227, 227, 227);">
              <div class="flex p-0">
                <div class="col-11 flex p-0">
                  <p style="text-align: justify; font-size: 15px; font-weight: 400; line-height: 25px; color: black;">
                    Also the reason why PHP is oftenly use because of many companies are using website based application
                    as
                    their work desk helper.
                  </p>
                </div>

                <div class="col-1 flex justify-content-end p-0">
                  <app-tiered-menu [model]="postEdit" topSpace="8px" rightSpace="8px">
                    <ng-template #content>
                      <i class="pi pi-ellipsis-v cursor-pointer p-0" style="color: black;"></i>
                    </ng-template>
                  </app-tiered-menu>

                </div>

              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
  <div class="col-3 pl-6 mt-2">
    <div class="text-xl font-medium text-900 mb-3 align-items-center flex">
      <i class="pi pi-calendar mr-2" style="font-size: 1.4rem; color: #22C55E;"></i>
      <span>Training & Events</span>
    </div>
    <div class="surface-card p-3 shadow-2 border-round m-0">
      <img alt="Logo Class" src="https://buildwithangga.com/storage/assets/thumbnails/thumbnail_vue_starter.png"
        class="w-full">
      <div class="grid my-0">
        <div class="col flex my-0">
          <i class="pi pi-building mb-2 mr-1" style="font-size: 20px; color: #a4a4a4;"></i>
          <p style="font-size: 14px; font-weight: 400;">Lawencon</p>
        </div>
        <div class="col justify-content-end flex my-0">
          <i class="pi pi-calendar mb-2 mr-1" style="font-size: 20px; color: #a4a4a4;"></i>
          <p style="font-size: 14px; font-weight: 400;">Events</p>
        </div>
      </div>
      <p class="my-1" style="font-weight: 700; font-size: 20px;">Vue Js Course</p>
      <div class="grid">
        <div class="col align-items-center">
          <p class="my-3 align-items-center flex" style="font-size: 14px; font-weight: 400;"> <i
              class="pi pi-map-marker mr-2" style="font-size: 20px; font-weight: 400; color: #a4a4a4;"></i>Pakuwon
            Tower</p>
          <p class="my-3 align-items-center flex" style="font-size: 14px; font-weight: 400;"> <i
              class="pi pi-calendar mr-2" style="font-size: 20px; font-weight: 400; color: #a4a4a4;"></i>21
            Januari
            2023</p>
          <p class="my-3 align-items-center flex" style="font-size: 14px; font-weight: 400;"> <i
              class="pi pi-clock mr-2" style="font-size: 20px; font-weight: 400; color: #a4a4a4;"></i>19:00
            - 21:00
          </p>
          <p class="my-3 align-items-center flex" style="font-size: 14px; font-weight: 400;"> <i
              class="pi pi-money-bill mr-2" style="font-size: 20px; font-weight: 400; color: #a4a4a4;"></i>Rp 220.000
          </p>
          <p-chip styleClass="custom-chip">
            <p class="my-1" style="font-size: 12px; font-weight: 500;">Information Technology</p>
          </p-chip>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="grid justify-content-center mt-3">
  <div class="col-8">
    <div class="text-xl font-medium text-900 mb-3 align-items-center flex">
      <i class="pi pi-home mr-2" style="font-size: 1.4rem; color: #22C55E;"></i>
      <span>Posts Home</span>
    </div>
    <div class="grid justify-content-start block col-12">
      <button pButton pRipple type="button" class="p-button-primary w-full h-3rem">
        <p class="w-full" style="font-weight: 700;" routerLink="/posts/create">Create New Post</p>
      </button>
      <div class="surface-card mt-4 p-4 shadow-2 border-round" *ngFor="let pl of postList">
        <div class="col-12 flex my-0">
          <p-avatar image="../../../assets/img/unnamed.jpg" styleClass="mr-3" size="large"
            [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle">
          </p-avatar>
          <p class="my-3" style="font-weight: 500; font-size: 20px; display: flex;">Yudha H</p>
        </div>
        <div class="grid">
        </div>
        <div class="col-12">
          <div class="text-xl font-medium text-900">
            <p class="my-0">What programming languange most people are using? </p>
          </div>
          <div class="font-small mb-3 ">
            <p class="text-justify mt-2"
              style="text-align: justify; font-size: 17px; font-weight: 400; line-height: 25px;">Im new in
              programming, so i wonder what programming languange are the most promising in the Information
              Technology Industry Company job vacancy. What programming languange should i start to use?</p>
          </div>
          <div class="justify-content-between flex mt-2">
            <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image" width="92%">
            </p-image>
            <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image" width="92%">
            </p-image>
            <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image" width="92%">
            </p-image>
          </div>
          <div class="font-small mt-2 mb-3 ">
            <p>Posted on 09:00 22/02/2023</p>
          </div>
          <div class="grid">
            <div class="col-2">
              <p style="font-size: 18px; font-weight: 400;"> <i class="pi pi-heart-fill mr-3"
                  style="font-size: 20px; font-weight: 600; color: #C94C0A;"></i>21 Likes</p>
            </div>
            <div class="col-3">
              <p style="font-size: 18px; font-weight: 400;"> <i class="pi pi-comments mr-3"
                  style="font-size: 20px; font-weight: 600; color: #FCAC26;"></i>12 Comments</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="text-xl font-medium text-900 mb-3 align-items-center flex">
      <i class="pi pi-calendar mr-2" style="font-size: 1.4rem; color: #22C55E;"></i>
      <span>Training & Events</span>
    </div>
      <div class="surface-card p-3 shadow-2 border-round m-0">
        <img alt="Logo Class" src="https://buildwithangga.com/storage/assets/thumbnails/thumbnail_vue_starter.png"
          class="w-full">
        <div class="grid my-0">
          <div class="col flex my-0">
            <i class="pi pi-building mb-2 mr-1" style="font-size: 20px; color: #a4a4a4;"></i>
            <p style="font-size: 14px; font-weight: 400;">Lawencon</p>
          </div>
          <div class="col justify-content-end flex my-0">
            <i class="pi pi-calendar mb-2 mr-1" style="font-size: 20px; color: #a4a4a4;"></i>
            <p style="font-size: 14px; font-weight: 400;">Events</p>
          </div>
        </div>
        <p class="my-1" style="font-weight: 700; font-size: 20px;">Vue Js Course</p>
        <div class="grid">
          <div class="col align-items-center">
            <p class="my-3 align-items-center flex" style="font-size: 14px; font-weight: 400;"> <i
                class="pi pi-map-marker mr-2" style="font-size: 20px; font-weight: 400; color: #a4a4a4;"></i>Pakuwon
              Tower</p>
            <p class="my-3 align-items-center flex" style="font-size: 14px; font-weight: 400;"> <i
                class="pi pi-calendar mr-2" style="font-size: 20px; font-weight: 400; color: #a4a4a4;"></i>21
              Januari
              2023</p>
            <p class="my-3 align-items-center flex" style="font-size: 14px; font-weight: 400;"> <i
                class="pi pi-clock mr-2" style="font-size: 20px; font-weight: 400; color: #a4a4a4;"></i>19:00
              - 21:00
            </p>
            <p class="my-3 align-items-center flex" style="font-size: 14px; font-weight: 400;"> <i
                class="pi pi-money-bill mr-2" style="font-size: 20px; font-weight: 400; color: #a4a4a4;"></i>Rp 220.000
            </p>
            <p-chip styleClass="custom-chip">
              <p class="my-1" style="font-size: 12px; font-weight: 500;">Information Technology</p>
            </p-chip>
          </div>
        </div>
      </div>
  </div>
</div> -->
