<div class="justify-content-center flex">
  <div class="col-11 justify-content-start mt-3 flex p-0">
    <div class="col-11 md:col-6 lg:col-5 justify-content-start flex p-0 mb-3 ml-3">

      <div class="align-items-center flex">
        <button pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-primary"
          routerLink="/article/admin"></button>

        <ul class="list-none p-0 m-0 flex align-items-center font-medium ml-3">
          <li>
            <a class="text-500 no-underline line-height-3 cursor-pointer">Articles</a>
          </li>
          <li class="px-2">
            <i class="pi pi-angle-right text-500  line-height-3"></i>
          </li>
          <li>
            <span class="text-900 line-height-3">Article Detail</span>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>

<div class="flex justify-content-center">
  <div class="col-11 md:col-10 lg:col-8">
    <div class="text-xl font-medium text-900 mb-2 align-items-center flex ml-1">
      <i class="pi pi-book mr-2" style="font-size: 1.4rem; color: #22C55E;"></i>
      <span>Article</span>
    </div>
    <div class="flex justify-content-between">

      <div class="col-12">
        <div class="surface-card p-3 shadow-2 border-round">
          <div class="flex justify-content-center mt-4">
            <div class="col-11" *ngIf="article?.file">
              <img alt="Logo Class" src="http://localhost:1214/files/{{article?.file?.fileId}}" class="w-full h-21rem ">

            </div>
          </div>
          <div class="grid justify-content-center ">
            <div class="col-11">
              <p class="my-2" style="font-weight: 600; font-size: 23px; text-align: justify;">{{article?.title}}</p>
              <p class="mb-5" style="font-weight: 400; font-size: 16px; text-align: justify;">Posted by <span
                  style="color: #137C3B;">{{article?.fullName}}</span> on {{article?.createdAt | date:'fullDate'}}</p>

              <p class="my-1" style="font-weight: 400; font-size: 16px; text-align: justify; line-height: 27px;">
                {{article?.content}} </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="hidden lg:inline-block md:col-3 pl-6">
    <div class="text-xl font-medium text-900 mb-3 align-items-center flex">
      <i class="pi pi-calendar mr-2" style="font-size: 1.4rem; color: #22C55E;"></i>
      <span>Training & Events</span>
    </div>
    <div class="card-hover surface-card p-3 shadow-2 border-round m-0 mt-3 cursor-pointer" *ngFor="let ac of activityList"
      routerLink="/activities/course-detail/{{ac.id}}">
      <img alt="Logo Class" src="http://localhost:1214/files/{{ac.fileId}}" class="w-full">

      <div class="grid my-0">
        <div class="col flex my-0">
          <i class="pi pi-building mb-2 mr-1" style="font-size: 20px; color: #a4a4a4;"></i>
          <p style="font-size: 14px; font-weight: 400;">{{ac.provider}}</p>

        </div>
        <div class="col justify-content-end flex my-0">
          <i class="pi pi-calendar mb-2 mr-1" style="font-size: 20px; color: #a4a4a4;"></i>
          <p style="font-size: 14px; font-weight: 400;">{{ac.activityTypeName}}</p>
        </div>
      </div>

      <p class="my-1" style="font-weight: 700; font-size: 20px;">{{ac.title}}</p>

      <div class="grid">
        <div class="col align-items-center">
          <p class="my-3 align-items-center flex" style="font-size: 14px; font-weight: 400;"> <i
              class="pi pi-map-marker mr-2"
              style="font-size: 20px; font-weight: 400; color: #a4a4a4;"></i>{{ac.locationAddress}}</p>
          <p class="my-3 align-items-center flex" style="font-size: 14px; font-weight: 400;"
            *ngFor="let sch of ac.schedule"> <i class="pi pi-calendar mr-2"
              style="font-size: 20px; font-weight: 400; color: #a4a4a4;"></i>{{sch.scheduleDate| date:'fullDate'}}</p>
          <p class="my-3 align-items-center flex" style="font-size: 14px; font-weight: 400;"> <i
              class="pi pi-clock mr-2" style="font-size: 20px; font-weight: 400; color: #a4a4a4;"></i>{{ac.timeStart}}
            - {{ac.timeEnd}}
          </p>
          <p class="my-3 align-items-center flex" style="font-size: 14px; font-weight: 400;"> <i
              class="pi pi-money-bill mr-2"
              style="font-size: 20px; font-weight: 400; color: #a4a4a4;"></i>{{ac.price|currency: 'Rp ' :'symbol':'1.2-2'}}
          </p>

          <p-chip styleClass="mr-2  custom-chip">
            <p class="my-1" style="font-size: 12px; font-weight: 500;">{{ac.categoryName}}</p>
          </p-chip>

        </div>
      </div>
    </div>

  </div>
</div>
